<!doctype html>
<html lang="en">
  <head>
    
    
  </head>
  <body>

    
<div class="my-3">
  <form #searchForm="ngForm">
    <div> 
      <input type="text" class="form-control form-control-lg w-50 m-auto mt-3" name="searTerm" id="" placeholder="search here"  
      
      autocomplete="off"
      ngModel>
    </div>
  </form>

<br>
<hr>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">name</th>
        <th scope="col">uni</th>
      
      </tr>
    </thead>
    <tbody id="tbody">
      
      <tr *ngFor="let i of serachResult; let x=index">
        <td >{{x+1}}</td>
        <td>{{i.name}}</td>
        <td>{{i.uni}}</td>
      </tr>
  
    </tbody>
  </table>
</div>
</body>
</html>